// Put your custom SCSS code here

.site-logo {
  height: 80px;
  width: auto;
}

.captiontext {
  display: block;
  margin-top: 0.5em;
  padding: 2px;
  line-height: 1;
  font-size: 18px;
  color: #666;
  text-align: center;
}
